html {
    box-sizing: border-box;
    height: 100%
}
*, *:before, *:after { 
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; 
}
body{
	margin:0px;
}

.phase01 {
  background-size: 300% 300%;
   background-image: radial-gradient(ellipse farthest-corner at 50% 50% , #fddddd 0%, #fddddd 60%, #454545 65%);
  animation: one 60s  infinite;
  -webkit-animation: one 60s infinite;   
}

.nophase01{
  animation: none; 
  -webkit-animation: none; 
}

@keyframes one { 
    0%{background-position:20% 20%}
    16%{background-position:50% 10%}
    20%{background-position:60% 20%}
    25%{background-position:80% 20%;}
    35%{background-position:80% 20%;
    background-size: 1% 500%;}
    40%{background-position:90% 50%;
    background-size: 300% 10%;}
    50%{background-position:80% 80%;
      background-size: 100% 100%; }
    62%{background-position:50% 90%}
    75%{background-position:20% 80%;
    background-size: 30% 10%;}
    79%{background-position:10% 50%;
    background-size: 30% 10%;}
    87%{background-position:10% 40%;
     background-size: 100% 100%; }
    90%{background-position:20% 30%}
    100%{background-position:20% 20%}
}  

@-webkit-keyframes one { 
    0%{background-position:20% 20%}
    16%{background-position:50% 10%}
    20%{background-position:60% 20%}
    25%{background-position:80% 20%;}
    35%{background-position:80% 20%;
    background-size: 1% 500%;}
    40%{background-position:90% 50%;
    background-size: 300% 10%;}
    50%{background-position:80% 80%;
      background-size: 100% 100%; }
    62%{background-position:50% 90%}
    75%{background-position:20% 80%;
    background-size: 30% 10%;}
    79%{background-position:10% 50%;
    background-size: 30% 10%;}
    87%{background-position:10% 40%;
     background-size: 100% 100%; }
    90%{background-position:20% 30%}
    100%{background-position:20% 20%}
}  


.phase02 {
  animation: two 60s infinite; 
    -webkit-animation: two 60s infinite; 
}

.nophase02 {
  animation: none; 
  -webkit-animation: none; 
}

@keyframes two {
0% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 10%;}
5%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);} 
10% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 100%;}
15% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 100% 100%;}
20%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%); 
    background-size: 10% 100%;}
25% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 10% 100%;}
30% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 1% 10%;}
40% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 100% 50%;}
50%{background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);} 
60% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 0%, #454545 5%);} 
65% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 5%, #454545 75%);}
70% {background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%)}
80% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #333 75%);}
85% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #eee 75%);}
95% {background:radial-gradient(circle at 50%, #333, #333 5%, #eee 5%, #333 75%) }
100% {background: radial-gradient(circle at 50%, #353535, #333 5%, #eee 5%, #333 75%);
    background-size: 10% 10%;}
}

@-webkit-keyframes two { 
  0% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 10%;}
5%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);} 
10% {background: background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 5%);
    background-size: 10% 100%;;}
20%  {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%); 
    background-size: 10% 100%;}
25% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 10% 100%;}
30% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 1% 10%;}
40% {background: radial-gradient(circle at 50%, #fddddd, #eee 5%, #eee, #454545 50%);
    background-size: 100% 50%;}
50%{background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee, #454545 50%);} 
60% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 0%, #454545 5%);} 
65% {background: radial-gradient(circle at 5%, #fddddd, #eee 5%, #eee 5%, #454545 75%);}
70% {background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%)}
80% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #333 75%);}
85% {background: radial-gradient(circle at 50%, #333, #eee 5%, #eee 5%, #eee 75%);}
95% {background:radial-gradient(circle at 50%, #333, #333 5%, #eee 5%, #333 75%) }
100% {background: radial-gradient(circle at 50%, #353535, #333 5%, #eee 5%, #333 75%);
    background-size: 10% 10%;}
}


